/* Fixes */

#start-btn {
   min-width: 60px; /* Fix: Button size on small devices */
}

#pairs {
    width: 60px; /* Fix: Add fixed width for input */
}

/* Container for the game board */
#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; /*Fix: Make game-board wider to allow more cards to display for larger screens */
    margin: auto;
}

/* Styling for each card */
.card {
    width: 120px;
    height: 120px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    perspective: 1000px;
}

/* Front and Back faces */
.card img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
}

/* Show only the back image initially */
.card .front {
    display: none;
}

/* Back image style */
.card .back {
    display: block;
}

/* Flip animation */
.card.flipped .front {
    display: block;
}
.card.flipped .back {
    display: none;
}